
body{
    /* the background is an image of various of old music disks with the adjustments of highlights and motion blur layers in Photoshop. This relates to the theme of the website */
    background-image: url(image/bg.png);
    width: 100%;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(42, 42, 42);
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
/* The logo should be putting in the middle with a bright color in front of a dark colored background so that it can stand out  */
#mainlogo{
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav{
    text-align: center;
    margin-top: 30px;
}

nav a{
    text-decoration: none;
    color: aliceblue;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}

.container{
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
    
}

/* I mainly use the flexbox in this assignment as a response to your advise in the assignment 1  */

.song-list{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-evenly;
    margin: auto
}

.song1,.song2,.song3,.song4{
    display: flex;
}

#song1-img,#song2-img, #song3-img,#song4-img{
    outline: 0;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0 rgb(0, 0, 0);
}

/* i design the cover of the album as disks which brings visual recognition and retro vibes */

.container1{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-evenly;
    margin-top: 30px;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 59, 108);
    border-radius: 165px;
    box-shadow: 0 0px 30px 0 rgb(2, 230, 255);
    padding: 40px 40px;
    position: relative;
}
.img1container{
    display: flex;
}
.disk {
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0 rgb(0, 0, 0);
    animation: rotate 3s linear infinite;

}
.paused{
    animation-play-state: paused;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.properties{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.title1{
    font-size: 30px;
    color: aliceblue;
    text-shadow: 0px 0px 10px gold;
    justify-items: center;
    align-self: center;
    display: flex;
}

.navigation1{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.actionbutton{
    background-color: rgb(0, 59, 108);
    border: 0;
    color: aliceblue;
    font-size: 50px;
    cursor: pointer;
    padding: 30px;
    margin: 0 20px;
    text-align: center;

}

.container1.play .musicin4 {
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px 0;
    /* height: 8px;
    width: 100%; */
}

#progress1{
    -webkit-appearance: none;
    background: rgb(253, 194, 238);
    border-radius: 10px;
    height: 8px;
    width: 100%;
    cursor: pointer;
    margin: 30px 0;
    /* transition: width 0.1s linear; */
}

#progress1::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: rgb(246, 0, 205);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(225, 26, 26, 0.22);

}



