body{
    background-image: url(images/bg3-100.jpg);
    /* background-size: cover; */
    background-attachment: fixed;
    /* i choose the high constrat color pallete of purple for background and yellow and aliceblue for the text */
    /* the background is made in Adobe Illustrator */
    font-family: "Nunito", sans-serif;
    font-weight: Bold 700;
    /* i use this font as it is not solemn as others with serif */
    }
   
    header{
        color:#ffdead;
        text-align: inherit≈;
        text-shadow: 0px 0px 10px gold;
        /* the headings should stand out so i make text shadow which looks like a glow effect */
    }
    .head1{
        margin-top: 10px;
        font-size: 30px;
        text-align: center;
    }
    .head2{
        font-size: 50px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        outline: none;
    }
    nav {
        color: aliceblue;
        font-size: 20px;
        text-align: center;
        padding-top: 30px;
    }

    a:link{
        color: rgb(123, 220, 20);
    }
    a:visited{
        color: deeppink;
    }
    a:hover{
        color: gold;
    }
     /* i add some effects on the link in order to emphasize the author who is the developer of the website */
    .name {
        text-align: center;
        color: aliceblue;
        font-size: 15px;
    
    }
    
    .container{
        color: aliceblue;
        font-size: 20px;
        padding-top: 50px;
        padding-left: 70px;
        padding-right: 70px;
    }

    .seperate{
        border-bottom: 2px solid black;
        padding: 100px;
    }

    .questions{
        font-size: 35px;
        text-shadow: 0px 0px 5px aliceblue;
        /* the questions also need to be recognizable like a title */
    
    }
    
    .first{
        padding-right: 600px;
    }
    .image1{
        height: 270px;
        width: 480px;
        border-radius: 20px;
        border-style: solid;
        border-color: black;
        border-block-start-width: 5px;
        border-block-end-width: 5px;
        display: block;
        float: right;
        box-shadow: 0px 0px 10px white;
    }
    .number1{
        display: inline-block;
        padding-top: 100px;
    }
    
    .number2{
        row-gap: 50px;
        grid-row: span;
    }
    
    .actlist{
        margin: 20px 0px;
        border-style: none;
        border-collapse:collapse;
    }
    
    .actlist td{
        width: 18vw;
        vertical-align: top;
        padding: 0em 2em;
        border-inline: solid white;
        text-align:left;
    }
    .actlist td img{
        height: 120px;
    }
    
    .actlist .nosideborder{
        border-inline-style: none;
    }
    /* I place the images in each column to demonstrate the content inside by wraping the image so that the test will be readable. */
    .omada{
        display: flex;
        word-wrap: normal;
        float: right;
        vertical-align: top;
    }
    .spark{
        display: flex;
        word-wrap: normal;
        float: left;
        vertical-align: bottom;
        margin: 5px;
    }
    .kitchenlab{
        display: flex;
        word-wrap: normal;
        float: left;
        vertical-align: top;
    }
    .coach {
        display: flex;
        word-wrap: normal;
        float: right;
        vertical-align: top;
        margin: 5px;
    }
    .gridone{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 2rem
    }
 /* the reason why i choose this color pallete for the boxes in the grid is that is matches the background color and the theme */
 /* The color of the border is darker than the background inside to highlight the content */
    .number3{
        grid-column: 1/3;
        grid-row: 1/2;
        background-color: #1C1678;
        border-radius: 40px;
        border: 10px solid #050046;
        padding: 20px;
    }
    
    .number4{
        grid-column: 3/4;
        grid-row: 1/3;
        background-color: #7BC9FF;
        border-radius: 40px;
        border: 10px solid #3caeff ;
        color: black;
        padding: 20px;
    }
    
    .number5{
        grid-column: 1/3;
        grid-row: 2/3;
        background-color: #8576FF;
        border-radius: 40px;
        border: 10px solid #6551ff;
        padding: 20px;
    }
    
    .number6{
        grid-column: 1/4;
        grid-row: 3/4;
        background-color: #A3FFD6;
        border-radius: 40px;
        border: 10px solid #79ffc3;
        color: black;
        padding: 20px;
    }
    .queston46{
        text-shadow: 0px 0px 10px black;
        font-size: 35px;
    }
    /* For the colors with high brightness, i set the test into black to make it easier to read  */
    .gridtwo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 2rem
    }
    .imgfor78{
        height: 300px;
        border-radius: 40px;
        border: 10px solid black;
    }
    /* The border outside makes the images seperated from the background  */
    .number7{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .number8{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .tablecap{
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 30px;
        text-shadow: 0px 0px 5px aliceblue;
    }
    .lesson{
        padding-left: 100px;
        padding-right: 100px;
    }
    
    
    
    .achievetable{
        border-style:dashed;
        border-width: 5px;
        border-color: gold;
        padding: 30px;
    }
    
    .thead{
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        font-weight: bold;
        font-size: 25px;
    }
    /* The color of the border stand for the content of the box (red for cons and green for pros) */
    .pro{
        border-style: outset;
        border-color: lawngreen;
        border-width: 10px;
        border-radius: 10px;
        padding: 20px;
    
    }
    .con{
        border-style: outset;
        border-color:crimson;
        border-width: 10px;
        border-radius: 10px;
        padding: 20px;
        vertical-align: top;
    }
    
    .lasttable{
        border-spacing: 100px 30px ;
    }
    .seperate11{
        border-style: none;
        padding-top: 100px;
    }
    
    
    .footbox{
        margin-top: 300px;
        height: 50px;
        margin-bottom: 50px;
    
    }
    /* i set a large margin for the footer so that readers will not face the end too surprisingly but scroll all the way down */
    .lastword{
        font-size: 40px;
        text-align: center;
        color: rgb(231, 229, 229);
       
    
    }